@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');

body {
    display: flex;
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.image-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("altin-ferreira-WqikGvMf_hk-unsplash.jpg");
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: -150px 0;
    width: 700px;
}

.page-title {
    display: flex;
    justify-content: center;
    margin-top: calc(50vh - 100px);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.page-title img {
    width: 100px;
}

.page-title h1 {
    margin: auto 25px auto -25px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
}

header {
    padding: 0 0 40px 40px;
    font-family: 'Roboto Slab', serif;
}

header h2 {
    inline-size: 55%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(68, 68, 68);
    padding: 20px 0 40px 0;
    margin-bottom: 40px;
}

form>h1,
.form-control-container {
    padding-left: 40px;
}

form>h1 {
    margin-bottom: 20px;
}

.form-control-container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row label {
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    opacity: 0.95;
}

form input {
    box-sizing: border-box;
    width: 200px;
    height: 25px;
    margin: 10px 40px 5px 0;
    padding: 3px 4px;
    font-size: 1.1rem;
    border: none;
    border-radius: 3px;
}

form input:focus {
    border: solid black 1.5px;
}

form span {
    font-size: 1rem;
    height: 1rem;
}

form input:not(:focus):not(:placeholder-shown):invalid {
    border: solid rgba(217, 2, 2, 0.7) 1.5px;
}

form input:required+span:before {
    content: "* Required";
    color: rgba(217, 2, 2, 0.7)
}

form input:not(:focus):not(:placeholder-shown):invalid+span:before {
    content: "* Invalid format";
    color: rgba(217, 2, 2, 0.7)
}

form input:valid+span:before {
    content: "";
}

.create-account {
    padding-left: 40px;
}

.create-account button {
    width: 200px;
    height: 40px;
    background-color: #6c2f2e;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.create-account button:hover {
    background-color: #592826;
}

.error {
    border: solid rgba(217, 2, 2, 0.7) 1.5px;
}

.passwords-dont-match {
    color: rgba(217, 2, 2, 0.7);
}